[user]
        name = ben lamothe
        email = zonotope@gmail.com
[core]
        excludesfile = /home/$USER/.gitignore.global
[push]
        default = simple
[merge]
        conflictstyle = diff3
[pull]
        rebase = true
[magit]
        hideCampaign = true
