[user]
        name = ben lamothe
	email = bl@732.one
	signingkey = 0xEF3F953B690E8060
[core]
        excludesfile = /home/$USER/.gitignore.global
[push]
        default = simple
[merge]
        conflictstyle = diff3
[pull]
        rebase = true
[magit]
        hideCampaign = true
[pager]
        diff = diff-so-fancy | less --tabs=1,5 -RFX
        show = diff-so-fancy | less --tabs=1,5 -RFX
