elpa/
url/
auto-save-list/
repl-history
/lein/.lein/self-installs/
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/lisp/mail-config.el
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/cider.history
/emacs/.emacs.d/recentf
/lein/.lein/credentials.clj.gpg
/zsh/.zsh.d/plugins.zsh.zwc
zsh/.zsh.d/antigen/
