[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=StumpWM
Comment=Stump Window Manager
Exec=stumpwm
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

