############################################################################
# keymaps                                                                  #
############################################################################

# swap caps with ctrl, and kill x with ctrl + alt + bksp
setxkbmap -option ctrl:swapcaps -option terminate:ctrl_alt_bksp

# turn enter to right control when held down
xmodmap ~/.xmodmap
xcape -e "Control_R=Return"

############################################################################
# wallpaper                                                                #
############################################################################

# feh --bg-scale pics/wallpapers/john_b_gordon_classroom.jpg

############################################################################
# daemons                                                                  #
############################################################################

## urxvt server process
urxvtd -q -f -o

## clipboard manager
# clipmenud &

############################################################################
# startup prgrams                                                          #
############################################################################

conky &
# urxvtc &
# emacsclient --create-frame &
# chromium &
