############################################################################
# keymaps                                                                  #
############################################################################

# turn enter to right control when held down
xmodmap ~/.xmodmap
xcape -e "Control_R=Return"

############################################################################
# daemons                                                                  #
############################################################################

## emacs server
# emacs --daemon

## urxvt server process
# urxvtd --quiet --fork --opendisplay

## clipboard manager
# clipmenud &

############################################################################
# startup prgrams                                                          #
############################################################################

# conky &
# urxvtc &
# emacsclient --create-frame --no-wait --alternate-editor="" &
# chromium &
