!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! mouse                                                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Xcursor.theme: Paper

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! color palate                                                             !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#define red            #f2777a
#define orange         #f99157
#define yellow         #ffcc66
#define green          #99cc99
#define cyan           #66cccc
#define blue           #6699cc
#define magenta        #cc99cc

#define bright_red     #FF3334
#define bright_green   #9ec400
#define bright_cyan    #54ced6
#define bright_magenta #b777e0

#define black          #2d2d2d
#define dark_grey      #515151
#define grey           #666666
#define bright_grey    #999999
#define white          #cccccc

!! app colors
*.cursorColor:  yellow

*.foreground:   white
*.background:   black

*.color0:       black
*.color1:       red
*.color2:       green
*.color3:       yellow
*.color4:       blue
*.color5:       magenta
*.color6:       cyan
*.color7:       dark_grey

*.color8:       grey
*.color9:       bright_red
*.color10:      bright_green
*.color11:      orange
*.color12:      blue
*.color13:      bright_magenta
*.color14:      bright_cyan
*.color15:      bright_grey

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! apps:                                                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!! xterm
xterm*faceName:         xft:Inconsolata Nerd Font Mono:style=g:size=12
xterm*loginShell:       true
xterm.vt100.locale:     true
xterm*vt100*geometry:   80x20
xterm*saveLines:        2500
xterm*boldMode:         true


!! urxvt
URxvt.letterSpace:       0
URxvt*font:              xft:Inconsolata Nerd Font Mono:style=g:size=12
URxvt*loginShell:        True
URxvt*scrollBar:         False
URxvt*scrollTtyOutput:   True
URxvt*saveLines:         2500
URxvt*cursorUnderline:   True
URxvt*pointerBlank:      True
URxvt*perl-ext-common:   default,tabbedex,matcher

! clickable urls
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:    1
URxvt.colorUL:           blue

! tabs
URxvt.tabbed.autohide:  yes
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: -1
