!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! mouse                                                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Xcursor.theme: Paper

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! color palate                                                             !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#define color_red            #f2777a
#define color_orange         #f99157
#define color_yellow         #ffcc66
#define color_green          #99cc99
#define color_cyan           #66cccc
#define color_blue           #6699cc
#define color_magenta        #cc99cc

#define color_bright_red     #FF3334
#define color_bright_cyan    #54ced6
#define color_bright_green   #9ec400
#define color_bright_magenta #b777e0

#define color_black          #2d2d2d
#define color_dark_grey      #393939
#define color_grey           #666666

#define color_white          #cccccc
#define color_light_grey     #515151
#define color_bright_grey    #999999

!! app colors
*.cursorColor:  color_red

*.foreground:   color_white
*.background:   color_black

*.color0:       color_dark_grey
*.color1:       color_red
*.color2:       color_green
*.color3:       color_yellow
*.color4:       color_blue
*.color5:       color_magenta
*.color6:       color_cyan
*.color7:       color_grey

*.color8:       color_light_grey
*.color9:       color_bright_red
*.color10:      color_bright_green
*.color11:      color_orange
*.color12:      color_blue
*.color13:      color_bright_magenta
*.color14:      color_bright_cyan
*.color15:      color_bright_grey

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! apps:                                                                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!! xterm
xterm*faceName:         xft:Inconsolata_g:size=12
xterm*loginShell:       true
xterm*vt100*geometry:   85x25
xterm*saveLines:        2500
xterm*boldMode:         true


!! urxvt
URxvt*font:              xft:Inconsolata:size=12
URxvt*loginShell:        True
URxvt*scrollBar:         False
URxvt*scrollTtyOutput:   True
URxvt*saveLines:         2500
URxvt*cursorUnderline:   True
URxvt*pointerBlank:      True
URxvt*perl-ext-common:   default,tabbedex,matcher

! clickable urls
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:    1
URxvt.colorUL:           color_blue

! tabs
URxvt.tabbed.autohide:  yes
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: -1
